name: Deploy to Azure Web App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
    - name: Checkout Source Code
      uses: actions/checkout@v4

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        # Your specific app name from the Azure portal
        app-name: 'cmst385-shughley'
        
        # We use the ALL CAPS secret name GitHub created
        publish-profile: ${{ secrets.APPSERVICECMST385 }}
