name: Deploy to Azure Web App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
    - name: Checkout Source Code
      uses: actions/checkout@v4

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        # This MUST match the msdeploySite name in your XML exactly
        app-name: 'CMST385-UMGC-shughley' 
        publish-profile: ${{ secrets.APPSERVICECMST385 }}
